<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admlayout.html}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>
</head>
<body>
	<div class="content">

		<h1>관리자 설정 페이지</h1>
		<form action="/admin/adminHome/update" method="post">
			<table th:each="item : ${adminList}">
				<tr>
					<th>홈페이지명</th>
					<td><input type="text" name="cf_title" id="HomepageName"
						th:value="${item.cf_info}"></td>
				</tr>
				<tr>
					<th>홈페이지 기본약관</th>
					<td><input type="text" name="cf_info" id="HomepageInfo"
						th:value="${item.cf_info}"></td>
				</tr>
				<tr>
					<th>개인정보처리약관</th>
					<td><input type="text" name="cf_privacy" id="HomepagePrivacy"
						th:value="${item.cf_privacy}"></td>
				</tr>
				<tr>
					<th>이메일 무단수집거부</th>
					<td><input type="text" name="cf_noemail" id="HomepageNoemail"
						th:value="${item.cf_noemail}"></td>
				</tr>
				<tr>
					<th>홈페이지 대표번호</th>
					<td><input type="text" name="cf_tel" id="HomepageTel"
						th:value="${item.cf_tel}"></td>
				</tr>
				<tr>
					<th>홈페이지 대표 우편번호</th>
					<td><input type="text" name="cf_zip" id="HomepageZip"
						th:value="${item.cf_zip}"></td>
				</tr>
				<tr>
					<th>홈페이지 대표 기본주소</th>
					<td><input type="text" name="cf_addr" id="HomepageAddr"
						th:value="${item.cf_addr}"></td>
				</tr>
				<tr>
					<th>홈페이지 대표 추가주소</th>
					<td><input type="text" name="cf_addr2" id="HomepageAddr2"
						th:value="${item.cf_addr2}"></td>
				</tr>
				<tr>
					<th>홈페이지 팩스번호</th>
					<td><input type="text" name="cf_fax" id="HomepageFax"
						th:value="${item.cf_fax}"></td>
				</tr>
				<tr>
					<th>홈페이지 이메일 주소</th>
					<td><input type="text" name="cf_email" id="HomepageEmail"
						th:value="${item.cf_email}"></td>
				</tr>
				<tr>
					<th>대표자명</th>
					<td><input type="text" name="cf_owner_name"
						id="HomepageOwnername" th:value="${item.cf_owner_name}"></td>
				</tr>
				<tr>
					<th>출석체크 포인트 지급</th>
					<td><input type="text" name="cf_day_point"
						id="HomepageDaypoint" th:value="${item.cf_day_point}"></td>
				</tr>
				<tr>
					<th>출첵기능 사용여부</th>
					<td><input type="text" name="cf_check_use"
						id="HomepageCheckuse" th:value="${item.cf_check_use}"></td>
				</tr>
				<tr>
					<th>구매시몇%로 포인트지급할건지</th>
					<td><input type="text" name="cf_od_point" id="HomepageOdpoint"
						th:value="${item.cf_od_point}"></td>
				</tr>
				<tr>
					<th>거래수수료율</th>
					<td><input type="text" name="cf_percent" id="HomepagePercent"
						th:value="${item.cf_percent}"></td>
				</tr>
			</table>
		<button type="submit" class="button"
			th:onclick="location.href='/admin/adminHome'">설정 저장</button>
		</form>

	</div>


</body>
</html>
