<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<div th:object="${post}">
			<div class="form-group">
			  <label for="po_title">제목:</label>
			  <input type="text" class="form-control" id="po_title" readonly="readonly" th:field="*{po_title}"> 
			</div>
			<div class="form-group">
			  <label for="po_me_id">제목:</label>
			  <input type="text" class="form-control" id="po_me_id" readonly="readonly" th:field="*{po_me_id}"> 
			</div>
			<div class="form-group">
			  <label for="po_date">작성일:</label>
			  <input type="text" class="form-control" id="po_date" readonly="readonly" th:value="*{#dates.format(po_date, 'yyyy-MM-dd HH:mm:ss')}"> 
			</div>
			<div class="form-group">
			  <label for="po_view">조회수:</label>
			  <input type="text" class="form-control" id="po_view" readonly="readonly" th:field="*{po_view}"> 
			</div>
			<div class="form-group">
			  <label>내용:</label>
			  <div class="form-control" th:utext="*{po_content}">
			  </div>
			</div>
			<a class="btn btn-info" th:href="@{/post/list/{co_num}(co_num=*{po_co_num})}">목록으로</a>
		</div>
	</main>
</body>
</html>