.btn_submit{
    border: 0;
    height: 25px;
    color: #fff;
    width: 52px;
}

.local_sch{
	margin-bottom: 10px;
}


.ins{
	margin-top: 10px;
}


.btn_a{
    width: 56px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
