.btn_submit{
    border: 0;
    height: 25px;
    color: #fff;
    width: 52px;
}

h1 {
	color: #003366;
	font-size: 28px;
	text-align: left;
	margin-bottom: 20px; /* 제목과 콘텐츠 간격 */
}

.form-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.search-form, .register-form {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
}


button:hover {
	background-color: #00509E;
}


.btn_a{
    width: 56px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
