@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* 스크롤 삭제 */
  -ms-overflow-style: none;
}
  /* 스크롤 삭제 */
::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  transition: margin-left 0.3s ease;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #0056f7;
  text-decoration: none;
}

/* 기본 글씨 색상 회색 */
.menu a {
  font-size: 16px;
  color: #888888; /* 회색 */
  text-decoration: none;
  padding: 10px;
}

/* 마우스 호버 시 검은색으로 변경 */
.menu a:hover {
  color: #000000; /* 검은색 */
  border-bottom: 2px solid #096c8a; /* 밑줄 */
}
