.search-modal{padding: 1%; position: fixed;z-index: 9999; background-color: #fff;width: 600px;height:500px; transform: translateX(var(--translate-x)) translateY(11px);border-radius: 15px;}
.search-modal-input{background-color: rgba(2, 32, 71, 0.05); border-radius: 20px;padding: 1%;}
.mstx{width: 90% !important;padding: .375rem .75rem;height: calc(1.5em + .75rem + 2px);line-height: 1.5; border:none;background: 0;}
.mstx:focus-visible{outline: none !important;}
.search-modal-input > i{margin-left: 12px; color: #888;}
.search-modal-table{display: flex;flex-direction: column;justify-content: normal;align-items: normal;}
.modal-right{text-align: right;}
.search-modal-row{display: flex; justify-content: space-between;align-items: center;}
.search-modal-table-div{margin-top: 2%;}
