@charset "UTF-8";
footer{display:none !important;}
.stock-day-section, .mystock-div{height: 250px;}
.stock-day-list{font-size: 12px;}
table{margin-top: 0 !important;}
main{margin-top:0 !important; margin-left: 1%; margin-right: 1%;}
.stock-chart-graph > .btn-list > .btn {border-radius: 20px;}
.stock-chart-graph > .btn-list {position: relative; z-index: 2;}
.none-stock-order > .none-list {margin-bottom: 10%;}
.none-stock-order > td > .none-list > .none-content {margin-top: 10% !important;}
.wait-row{text-align: left;}
.wait-row > span{margin-top: 2%;margin-bottom: 2%; font-size: 15px;}
.mystock-list.form-content{width: 80% !important;}
.mystock-row > div {margin-bottom: 8px;}
.mystock-row.rigth{text-align: left;}
.mystock-row.left{text-align: right; margin-right: -20%;}
.divider{border: 1px solid rgba(23, 162, 184, 0.3);width: 98%;height: 1px;}
.form-content.bottom{margin-top: 15px;}