<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav id="menu" class="menu_large" th:fragment="sidebar">
	<ul id="menu_ul">
		<li id="menu_li"><a href="" class="sidefont"> <i
				class="bx bx-user-check" id="nav_icon"> 회원 관리 </i>
		</a></li>
		<li id="menu_li"><a href="" class="sidefont"> <i
				class="bx bx-store-alt" id="nav_icon"> 주식 승인 </i>
		</a></li>
		<li id="menu_li"><a href="/admin/admOrder/orderAdm" class="sidefont"> <i
				class='bx bx-edit-alt' id="nav_icon"> 주문 내역 </i></a></li>
		<li id="menu_li"><a href="" class="sidefont"> <i
				class='bx bx-credit-card' id="nav_icon"> 포인트 </i></a></li>
		<li id="menu_li"><a href="" class="sidefont"> <i
				class='bx bx-chevrons-up' id="nav_icon"> 레벨 </i></a></li>
		<li id="menu_li"><a href="" class="sidefont"> <i
				class='bx bx-list-ul' id="nav_icon"> Daily List </i></a></li>
		<li id="menu_li"><a href="/admin/admNews/news" class="sidefont"> <i
				class='bx bx-news' id="nav_icon"> Newspaper </i></a></li>
		<li id="menu_li"><a href="" class="sidefont"> <i
				class='bx bx-customize' id="nav_icon"> 주식</i></a></li>
	</ul>
</nav>

</html>