<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="sidebar" th:fragment="sidebar">
	<h2>관리자 메뉴</h2>
	<div class="menu">
		<div class="menu-item" onclick="toggleSubMenu('memberManagement')">회원
			관리</div>
		<div id="memberManagement" class="sub-menu">
			<div class="sub-menu-item"
				onclick="location.href='/admin/admMember/insert'">등록</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admMember/update'">수정</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admMember/delete'">삭제</div>
		</div>

		<div class="menu-item"
			onclick="location.href='/admin/amdStockManage/stockManage'">주식
			승인 관리</div>

		<div class="menu-item" onclick="toggleSubMenu('orderManagement')">주문
			내역 관리</div>
		<div id="orderManagement" class="sub-menu">
			<div class="sub-menu-item"
				onclick="location.href='/admin/admOrder/view'">주문 내역 조회</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admOrder/update'">수정</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admOrder/delete'">삭제</div>
		</div>

		<div class="menu-item" onclick="toggleSubMenu('pointManagement')">포인트
			관리</div>
		<div id="pointManagement" class="sub-menu">
			<div class="sub-menu-item"
				onclick="location.href='/admin/admPoint/give'">포인트 지급</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admPoint/recall'">포인트 회수</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admPoint/register'">등록</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admPoint/delete'">삭제</div>
		</div>

		<div class="menu-item"
			onclick="location.href='/admin/admLevel/levelManage'">레벨별 관리</div>

		<div class="menu-item"
			onclick="location.href='/admin/admDaycheck/view'">일자별 출석 체크 인원
			확인 리스트</div>

		<div class="menu-item" onclick="location.href='/admin/admNews/news'">신문사
			리스트 관리</div>


		<div class="menu-item" onclick="toggleSubMenu('stockManagement')">주식
			관리</div>
		<div id="stockManagement" class="sub-menu">
			<div class="sub-menu-item"
				onclick="location.href='/admin/admStock/stockOut'">상장 폐지</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admStock/stockIn'">신규 등록</div>
		</div>

		<div class="menu-item" onclick="toggleSubMenu('eventManagement')">이벤트
			관리 기능</div>
		<div id="eventManagement" class="sub-menu">
			<div class="sub-menu-item"
				onclick="location.href='/admin/admEvent/insert'">상품 등록</div>
			<div class="sub-menu-item"
				onclick="location.href='/admin/admEvent/draw'">상품 추첨</div>
		</div>

	</div>
</div>


</html>