<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">부트</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	
	<!-- Popper JS -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<!--추가-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
	<script src="https://kit.fontawesome.com/aa7d727d3c.js" crossorigin="anonymous"></script>

</head>
<body scroll="no">

    <!--/* 고정 헤더 */-->
    <div th:replace="~{layout/header.html :: header}"></div> <!-- 헤더 불러오기 -->
	<!-- 사이드바 불러오기 -->
    <div th:replace="~{layout/sidebar.html :: sidebar}"></div>
    <!-- 컨텐츠 영역 (각 페이지에서 변경될 부분) -->
	<div class="home-section">
		<main layout:fragment="content"></main>
	</div> 

	<script th:inline="javascript">
		<!-- URL에 따라 container 클래스 제거하는 스크립트 -->
		$(document).ready(function() {
			// 현재 URL 가져오기
			let currentUrl = window.location.href;
			// container 없애고 싶은 url 아래에 추가 하시면 됩니다.
			let urlNames = ['myaccount'];
			// URL에 'myaccount'가 포함되어 있는지 확인
			for(item of urlNames) {
				if(currentUrl.includes(item)) {
					// 'container' 클래스를 가진 div 요소에서 클래스 제거
					$('.home-section').removeClass('container');
				}
			}
		}); // 특정 url에 container를 삭제하는 함수
		
		$('.myaccount').on('click', function(e){
			let mb_id = /*[[${#authentication.getName()}]]*/ '';
			if(mb_id != 'anonymousUser'){
				return;
			}
			e.preventDefault();
			if(confirm('로그인이 필요한 서비스입니다.\n로그인 페이지로 이동하겠습니까?')){
				location.href = "/member/login";
			}
		}); // 내 계좌를 들어가기 위해서 로그인 정보를 확인하는 함수
	</script>
</body>
</html>
