<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<table class="table table-borderless" id="comm-main-list">
		<tr class="comm-main-row-list" th:each="comm : ${commList}">
			<td>
				<div class="comm-member">
					<span>긍정연진</span> 
					<span class="member-sticker">인플루언서</span>
					<span class="grey-text">· 17분전</span>
				</div>
				<div class="comm-row-content" th:text="${comm.wr_content}"></div>
			</td>
		</tr>
	</table>
</html>
