<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
	<div class="search-modal modal" tabindex="-1" role="dialog" style="display: none;">
		<div class="search-modal-box">
			<div class="search-modal-input">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input type="text" name="mstx" class="mstx" onkeyup="search_mstx(this.value);">
			</div>
			<div class="search-modal-table-div">
				<div class="search-modal-table-title">
					<div class="search-modal-sub-title">인기 주식 TOP 5</div>
				</div>
				<div class="search-modal-table">
					<div class="search-modal-row" th:each="tops : ${top5list}" th:onclick="modal_link([[${tops.code}]]);">
						<div class="modal-left">
							<span class="search-modal-rank" th:text="${tops.ranks}"></span>
							<span th:text="${tops.st_name}"></span>
						</div>
						
						<div class="modal-right">
							<span th:class="${tops.flt == '0' ? 'dash-grey' : tops.flt.contains('-') ? 'dash-blue' :'dash-red' }" th:text="${#numbers.formatDecimal(tops.flt, 1, 2)}+'%'"></span>
						</div>
					</div> <!-- end search-modal-row -->
				</div>
			</div>
			<div class="search-modal-result-div" style="display: none;">
				안녕하세요?
			</div>
		</div>
	</div>
</html>