<sidebar th:fragment="sidebar">
      <style>
         .test {
           position: fixed; /* 화면에 고정 */
           right: 78px;        /* 오른쪽에 붙이기 */
           top: 0;          /* 상단에 붙이기 */
           height: 100%;
           width: 250px;
           z-index: 1000;   /* 다른 요소 위로 올리기 */
           background-color: black;
         }
      </style>
        <div class="sidebar">
            <ul class="nav-list">
              <li class="side_icon" onclick="showDash(this);">
                <a href="#">
                  <i class='bx bx-grid-alt'></i>
                  <span class="links_name">Dashboard</span>
                </a>
                 <span class="tooltip">Dashboard</span>
              </li>
              <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-user' ></i>
                 <span class="links_name">User</span>
               </a>
               <span class="tooltip">User</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-chat' ></i>
                 <span class="links_name">Messages</span>
               </a>
               <span class="tooltip">Messages</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-pie-chart-alt-2' ></i>
                 <span class="links_name">Analytics</span>
               </a>
               <span class="tooltip">Analytics</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-folder' ></i>
                 <span class="links_name">File Manager</span>
               </a>
               <span class="tooltip">Files</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-cart-alt' ></i>
                 <span class="links_name">Order</span>
               </a>
               <span class="tooltip">Order</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-heart' ></i>
                 <span class="links_name">Saved</span>
               </a>
               <span class="tooltip">Saved</span>
             </li>
             <li class="side_icon" onclick="showDash(this);">
               <a href="#">
                 <i class='bx bx-cog' ></i>
                 <span class="links_name">Setting</span>
               </a>
               <span class="tooltip">Setting</span>
             </li>
             <li class="profile">
                 <div class="profile-details">
                   <div class="name_job">
                   </div>
                 </div>
                 <i class='bx bx-log-out' id="log_out" ></i>
             </li>
            </ul>
          </div>
          <div class="test" style="display:none;">
             dsk;flskdf;dlk;s
             sdlfk;sdlkf;s
             sdklfk;sldkf;slk
          </div>
          <script type="text/javascript">
         function showDash(icon){
            if($(icon).hasClass("active") === false) {      
               $(".test").animate({
                  width: 'toggle'
                }, 250, function(){
                   $(".test").show();
                });  // 1초 동안 애니메이션
               
               $(".side_icon").removeClass("active");
               $(icon).addClass("active");
            } else {
               $(".test").animate({ 
                     width: 'toggle'
                   }, 250, function(){
                      $(".test").hide();
                   });  // 1초 동안 애니메이션
               $(".side_icon").removeClass("active");
               $(icon).removeClass("active");
            }
         }
        </script>
</sidebar>