<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admlayout.html}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Admin Level Page</title>
<link th:href="@{/css/admnews.css}" rel="stylesheet" />
<!--  스타일 적용 했음  -->
</head>
<style>
</style>
<body>
	<div class="content">
		<!--  이거 추가하니까 사이드바랑 곂치던거 해결됨 wht?>???>??<>>?>?>?>?>?>>? -->
		<h1>출석체크 포인트 관리 페이지 </h1>    <!--  아무것도 수정하지 않음     여기는 제일 마지막에 작업     -->
		<div class="update-from">
			<!-- insert 레이아웃 나눈거 -->
			<form action="/admin/admDaycheck/daycheckAdm/update" method="post">
				<input type="text" name="mb_id" placeholder="출석 체크 회원 아이디" required>
				<button type="submit">검색</button>
			</form>
		</div>
	</div>
	<!-- 레벨 테이블 -->
	<table>
		<thead>
			<tr>
				<div></div>
				<th>출석 체크일</th>
				<th>출석 체크 회원 아이디</th>
				<th>지급된 출석체크 포인트</th>
				<th>이번달 출석일 </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td th:text="${list.dc_datetime}"></td>
				<td th:text="${list.mb_id}"></td>
				<td th:text="${list.po_num}"></td>
				<td th:text="${list.dc_days}"></td>
				<td>
			</td>

			</tr>
		</tbody>
	</table>
</body>
</html>
