<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.st.boot.dao.CommunityDAO"> 

    <insert id="insertBoard">
        INSERT INTO board (wr_category, mb_id, wr_content, mb_level)
        VALUES (#{wr_category}, #{mb_id}, #{wr_content}, #{mb_level}) 
    </insert>
	
	<select id="selectCommunityAction" resultType="CommunityActionVO">
		SELECT *
		FROM
			COMMUNITY_ACTION
		WHERE
			CG_NUM = #{cg_num} AND
			MB_ID = #{mb_id}
	</select>
	
    <select id="getBoardList" resultType="BoardVO">
    	SELECT *
    	FROM board
    	WHERE wr_category = #{wr_category}
		ORDER BY wr_no DESC
    </select>

	<select id="findBoardByObjBoardVO" resultType="CommunityActionVO">
		select * from community_action
		where mb_id = #{mb_id} and cg_type = #{cg_type} and cg_num = #{cg_num}
	</select>

	<insert id="createBoardOfCommunityAction">
		insert into community_action(cg_num, cg_type, st_code, mb_id, cg_datetime, cg_like, cg_report)
		VALUES (#{cg_num}, #{cg_type}, #{st_code},#{mb_id}, now() ,#{cg_like}, #{cg_report})
	</insert> 

	<update id="updateBoardOfCommunityAction_setLike">
		update community_action
		set cg_like = 'like'
		where mb_id = #{mb_id} and cg_type = #{cg_type} and cg_num = #{cg_num}
	</update>

	<update id="updateBoardOfCommunityAction_setLikeNull">
		update community_action
		set cg_like = ''
		where mb_id = #{mb_id} and cg_type = #{cg_type} and cg_num = #{cg_num}
	</update>

	<update id="updateBoardOfCommunityAction_setReport">
		update community_action
		set cg_report = 'report'
		where mb_id = #{mb_id} and cg_type = #{cg_type} and cg_num = #{cg_num}
	</update>

	<update id="updateBoardOfCommunityAction_setReportNull">
		update community_action
		set cg_report = ''
		where mb_id = #{mb_id} and cg_type = #{cg_type} and cg_num = #{cg_num}
	</update>

	<insert id="insertComment">
		INSERT INTO comment (wr_no, mb_id, co_content)
        VALUES (#{wr_no}, #{mb_id}, #{co_content}) 
	</insert>

	<select id="getCommentList" resultType="CommentVO">
		SELECT * FROM comment where wr_no = #{wr_no} order by co_id desc 
    </select>
   	<update id="updateCount">
		UPDATE board b
		 set b.wr_comment = (
		 select COUNT(*)
		 FROM comment c
		 WHERE c.wr_no = b.wr_no
		 )		
	</update> 
	
    <!-- 게시글의 좋아요 및 신고 수 업데이트 -->
    <update id="updateBoardCounts">
        UPDATE board
        SET wr_good = #{likeCount}, wr_singo = #{reportCount}
        WHERE wr_no = #{cg_num}
    </update>

    <!-- 댓글의 좋아요 및 신고 수 업데이트 -->
    <update id="updateCommentCounts">
        UPDATE comment
        SET co_good = #{likeCount}, co_bad = #{reportCount}
        WHERE co_id = #{cg_num}
    </update>

    <!-- 게시글에 대한 좋아요 카운트 조회 -->
    <select id="getLikeCountForBoard" resultType="int">
        SELECT COUNT(*) FROM community_action
        WHERE cg_num = #{cg_num} AND cg_type = 'board' AND cg_like = 'like'
    </select>

    <!-- 게시글에 대한 신고 카운트 조회 -->
    <select id="getReportCountForBoard" resultType="int">
        SELECT COUNT(*) FROM community_action
        WHERE cg_num = #{cg_num} AND cg_type = 'board' AND cg_report = 'report'
    </select>

    <!-- 댓글에 대한 좋아요 카운트 조회 -->
    <select id="getLikeCountForComment" resultType="int">
        SELECT COUNT(*) FROM community_action
        WHERE cg_num = #{cg_num} AND cg_type = 'comment' AND cg_like = 'like'
    </select>

    <!-- 댓글에 대한 신고 카운트 조회 -->
    <select id="getReportCountForComment" resultType="int">
        SELECT COUNT(*) FROM community_action
        WHERE cg_num = #{cg_num} AND cg_type = 'comment' AND cg_report = 'report'
    </select>
    
	<!-- 좋아요 및 신고 여부 확인 -->
	<select id="checkUserActions" resultType="CommunityActionVO">
	    SELECT 
	        IF(cg_like = 'like', 'like', 'n') AS cg_like,
	        IF(cg_report = 'report', 'report', 'n') AS cg_report,
	        cg_num 
	    FROM 
	        community_action 
	    WHERE 
	        cg_num = #{cg_num} AND 
	        cg_type = 'board' AND 
	        mb_id = #{mb_id}
	</select>
	
	<select id="getBoardbyID" resultType="BoardVO">
		SELECT *
        FROM board
        WHERE wr_no = #{wr_no} AND mb_id = #{mb_id}
	</select>
    
    <delete id="deleteBoard">
        DELETE FROM board WHERE wr_no = #{wr_no}
    </delete>	
    
     <update id="updateBoard">
        UPDATE board
        SET wr_content = #{wr_content}
        WHERE wr_no = #{wr_no} AND mb_id = #{mb_id}
    </update>
    
</mapper>