<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.st.boot.dao.EventDAO">

    <select id="getEventList" resultType="kh.st.boot.model.dto.EventDTO">
        select ev_no, ev_title, ev_start, ev_end, ev_status, fi_path 
        from event 
        left join file on  ev_no = fi_reg_no 
        where fi_type = "event" and ev_status = #{eventStatus}
        order by ev_start desc
    </select>

    <select id="getEventPostList" resultType="kh.st.boot.model.dto.EventDTO">
        select ev_no, ev_title, ev_start, ev_end, ev_status
        from event 
        where ev_status = #{eventStatus}
        order by ev_end desc
    </select>

    <select id="getEvent" resultType="EventVO">
        select event.* , fi_path from event left join file on ev_no = fi_reg_no where fi_type = "event" and ev_no = #{ev_no} and ev_status = #{eventStatus}
    </select>

    <select id="getEventPost" resultType="EventVO">
        select * from event where ev_no = ${ev_no} limit 1
    </select>

    <insert id="setEvent">
        insert into event(ev_title, ev_content, ev_start, ev_end, ev_status, ev_datetime)
        value(#{ev_title}, #{ev_content}, #{ev_start}, #{ev_end}, #{ev_status}, now())
    </insert>

    <select id="getEventToImportAFile" resultType="EventVO">
        SELECT * FROM event order by ev_no desc limit 1
    </select>

    <insert id="setEventFile">
		INSERT INTO FILE(FI_ORG_NAME, FI_PATH, FI_REG_NO, FI_TYPE) VALUES
		(#{fi_org_name}, #{fi_path}, #{fi_reg_no}, #{fi_type})
	</insert>

    <update id="updateEventDateAndStatus">
        update event
        set ev_status = "Ending"
        where now() > ev_end
    </update>

    <delete id="deleteEventPost">
        delete from event where ev_no = ${ev_no}
    </delete>
    
    <select id="getFileByEventNumber" resultType="FileVO">
        select * from file where fi_reg_no = #{ev_no} and fi_type = 'event'
    </select>

    <update id="updateEvent">
        update event
        set ev_title = #{ev_title}, ev_content = #{ev_content}, ev_start = #{ev_start}, ev_end = #{ev_end}, ev_status = #{ev_status}
        where ev_no = #{ev_no}
    </update>

    <delete id="deleteEventThumbnailFile">
        delete from file where fi_reg_no = #{ev_no} and fi_type = 'event'
    </delete>
    


</mapper>