<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.st.boot.dao.MemberDAO">

	<select id="findById" resultType="MemberVO">
    select * from member where mb_id = #{id}
    </select>

    <update id="serUserCookie">
    update member 
    set 
        mb_cookie = #{user.mb_cookie}, 
        mb_cookie_limit = #{user.mb_cookie_limit}
    where 
        mb_id = #{user.mb_id}
    </update>

    <update id="add_Fail_Number">
    update member
    set
        mb_fail = mb_fail + 1
    where
        mb_id = #{id}
    </update>

    <update id="reset_Fail_Number">
    update member
    set
        mb_fail = 0
    where
        mb_id = #{id}
    </update>

    <insert id="join">
    insert into member(mb_id, mb_password, mb_name, mb_nick, mb_ph, mb_email, mb_fail, mb_level, mb_point, mb_emailing, mb_datetime, mb_edit_date, mb_zip, mb_addr, mb_addr2, mb_birth)
    value(#{mb_id}, #{mb_password}, #{mb_name}, #{mb_nick}, #{mb_ph}, #{mb_email}, 0 , 1, 50, #{mb_emailing}, now(), now(),  #{mb_zip}, #{mb_addr}, #{mb_addr2}, #{mb_birth})
    </insert>

    <select id="findIdByCookie" resultType="MemberVO">
    select * from member where mb_cookie = #{mb_cookie} and mb_cookie_limit > now()
    </select>

</mapper>