<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.st.boot.dao.NewsDAO">

	<select id="selectNewsList" resultType="NewsVO">
		SELECT *
		FROM
			NEWSPAPER
		JOIN
			NEWS ON NEWSPAPER.NP_NO = NEWS.NP_NO
		WHERE
			DATE_FORMAT(NE_DATETIME, '%Y.%m') = DATE_FORMAT(#{ne_datetime}, '%Y.%m')
		GROUP BY
			NEWSPAPER.NQ_NO
	</select>

</mapper>