<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>주식사이트 만들긔</h1>
		<p th:text="${user}"></p>
		
		<p sec:authorize="isAuthenticated()">
			<span th:text="${#authentication.principal.member.mb_id}"></span>님 반갑습니다.<br>
			당신의 이메일은 <span th:text="${#authentication.principal.member.mb_email}"></span> 입니다.
		</p>
		
	</main>
</body>
</html>