<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
	<link rel="stylesheet" href="eventpageCSS.css"> <!-- CSS 파일 링크 -->
	<script src="eventpageJS.js"></script> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
	<h2 class="event-title">이벤트</h2>
    <div class="event-container">
       
        <ul class="tab">
            <li><a class="tablinks" onclick="openTab(event, 'ongoing')">진행중인 이벤트</a></li>
            <li class="separator">|</li>
            <li><a class="tablinks" onclick="openTab(event, 'finished')">종료된 이벤트</a></li>
            <li class="separator">|</li>
            <li><a class="tablinks" onclick="openTab(event, 'presentation')">당첨자 발표</a></li>
        </ul>

        <div id="ongoing" class="tabcontent">
            <ul class="event-list">
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/ff25d7d22dee4ee8bd52edf40fe1a875.jpg" alt="Event Image">
                        <h3>진행 중인 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                
                <!-- 다른 진행 중인 이벤트 추가 -->
            </ul>
        </div>

        <div id="finished" class="tabcontent" style="display: none;">
            <ul class="event-list">
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                  <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/43d8cd74fb824549be08ac58bce064be.jpg" alt="Event Image">
                        <h3>끝난 이벤트 이름</h3>
                        <p>이벤트 기간: 2024.08.01 - 2024.08.31</p>
                    </a>
                </li>
                <!-- 다른 끝난 이벤트 추가 -->
            </ul>
        </div>
        
         <div id="presentation" class="tabcontent">
            <ul class="event-list">
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                <li class="event-item">
                    <a href="#">
                        <img src="https://cdn-lostark.game.onstove.com/uploadfiles/banner/bddbe9049b564eda9a77cbacf7631a35.jpg" alt="Event Image">
                        <h3>해당 이벤트 당첨자 발표</h3>
                        <p>보상 기간: 2024.09.01 - 2024.09.30</p>
                    </a>
                </li>
                
                <!-- 다른 진행 중인 이벤트 추가 -->
            </ul>
        </div>
    </div>
	</main>
</body>
</html>