<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/depositSend.css}">
</head>
<body>
	<main layout:fragment="content">
		<h4 class="center">예치금 보내기</h4>
		<div class="div-deposit-send">
			<form name="fdepositorder" action="" method="post" onsubmit="return fdepositorder_submit(this);">
				<input type="hidden" name="price" value="0">
				<div class="account-row">
					<span class="account-title">어디로 돈을 보낼까요?</span>
					<div class="account-input">
						<span class="start-acc">SID-</span>
						<input class="account-control" type="text" name="account" id="account" value="" placeholder="계좌번호를 입력해주세요:)" size="40" onkeyup="account_chk(this.value);">
						<button type="button" class="btn start-acc"style="display: none;" onclick="delete_account();"><i class="fa-regular fa-circle-xmark"></i></button>
					</div>
				</div>
				 <div class="form-footer center">
		            <button type="submit" class="btn btn-outline-info">결제하기</button>
		        </div>
			</form>
		</div>
		<script th:inline="javascript">
			function account_chk(val){
				
				//숫자와 - 만 허용할게요
				$("#account").val($("#account").val().replace(/[^0-9\-]/g, ''));
				
				if(val != null){
					$(".start-acc").show();
				} else {
					$(".btn.start-acc").hide();
				}
			}
			
			function delete_account(){
				$("#account").val("");
				$(".btn.start-acc").hide();
			}
			function get_show(price){
				
				$("input[name=price]").val(0);
				
				if(price == "ect"){
					$(".enter_price").slideDown(350, function() {
						$("#ect_price").val(0);
					    $(".enter_price").show();
					});
				} else {
					get_price(price);
					$(".enter_price").slideUp(350, function() {
						$("#ect_price").val(0);
					    $(".enter_price").hide();
					});
				}
			}
			
			function add_price(price){
				var new_price = parseInt($("#ect_price").val()) + parseInt(price);
				$("#ect_price").val(new_price);
				$("input[name=do_price]").val(new_price);
				get_price(new_price);
			}
			
			function get_price(price){
				if (/[^0-9]/g.test(price)) {				 
					price = price.replace(/[^0-9]/g, '');
					$("#ect_price").val(price);
				}
				// price가 100,000을 넘는지 확인
			    if (parseInt(price) > 100000) {
			        alert("직접입력으로 충전시 100,000원을 초과할 수 없습니다.");
			        price = 100000;
			        $("#ect_price").val(price);
			    }
				
				$("input[name=do_price]").val(price);
			}
			function fdepositorder_submit(f){
				
				if(f.price.value <= 0){
					alert("보내실 금액을 입력해주세요.");
					return false;
				}
				
				if(!f.account.value){
					alert("성함을 작성해주세요.");
					f.do_name.focus();
					return false;
				}
				
				if(!f.do_tel.value){
					alert("연락처를 작성해주세요.");
					f.do_tel.focus();
					return false;
				}
				if(!f.do_email.value){
					alert("이메일을 작성해주세요.");
					f.do_email.focus();
					return false;
				}
				var url = "/deposit/insertOrder";
				// 배열을 객체로 변환
				var form_array = $(f).serializeArray();
			    var order_data = {};
			    form_array.forEach(function(item) {
			    	order_data[item.name] = item.value;
			    });
				$.ajax({
		            url: url,
		            type: 'post',
		            data: order_data,
		            dataType : 'json',
		            async: false, 
		            success: function (data) {
		                f.do_od_id.value = data;
		            }
		        });
				
				clientAuth(f);
				return false;
			}
		</script>
	</main>
</body>
</html>